<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41453145803-knva4l3ig988fmcj2p7q0mq4b44b0j51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41453145803-knva4l3ig988fmcj2p7q0mq4b44b0j51</string>
	<key>API_KEY</key>
	<string>AIzaSyDiPKlkBNBKlFCrfGBOneevPNe-6FrHy3U</string>
	<key>GCM_SENDER_ID</key>
	<string>41453145803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taelee.GyeolHapTomKido</string>
	<key>PROJECT_ID</key>
	<string>gyeolhap-411f2</string>
	<key>STORAGE_BUCKET</key>
	<string>gyeolhap-411f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41453145803:ios:57622e8937ae12e097954e</string>
</dict>
</plist>